/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1a1a19FF;
    background-alt: #333332FF;
    foreground:     #d1d1d1FF;
    selected:       #61957fFF;
    active:         #7aae98FF;
    urgent:         #ff968cFF;
}
